.title {
    font-size: rem(25px);
    color: var(--mantine-color-zomp);
    margin: 0;
    padding: 0;

    @media (max-width: 62em) {
        font-size: rem(25px);
        line-height: rem(20px);
    }
    @media (min-width: 62em) {
        font-size: rem(35px);
        line-height: rem(30px);
    }
    /* @media (min-width: 75em) {
        font-size: rem(75px);
        line-height: rem(45px);
    }
    @media (min-width: 88em) {
        font-size: rem(90px);
        line-height: rem(50px);
    } */
}

.projInfo {
    @media (max-width: 75em) {
        flex-direction: column;
        justify-content: space-between;
    }
    @media (min-width: 75em) {
        flex-direction: row;
        /* align-items: center; */
    }
    width: 100%;
    /* align-items: flex-end; */
}

.projInfo:nth-child(1) {
    justify-self: flex-start;
    margin-bottom: auto;
    flex-grow: 2;

}

.techStackGrid {
    flex-basis: auto;
    /* flex-grow: 1; */

    margin-top: auto;
}

.techStackGrid:first-child {
    margin-top: auto;
}

.projectLinks {
    flex-basis: auto;
    margin-top: 2%
    /* margin-top: auto; */
}

.projInfo > * {
    @media (max-width: 75em) {
        margin: 0;
        padding: 0;
    }
}

.imgContainer {
    align-self: flex-start;
    flex: 2 1 0;
    margin-top: 1%;
    padding-inline: 0;

    @media (max-width: 48em) {
        margin-top: 0;
    }
    @media (max-width: 75em) {
        margin: 0 auto;
    }
}

.imgRoot {
    /* max-width: 100%; */
    /* height: auto; */
    /* aspect-ratio: 14/9; */
    /* object-fit: contain; */
    
    @media (max-width: 75em) {
        /* aspect-ratio: 4/4; */
        justify-self: center;
        width: 95%;
    }
    @media (min-width: 75em) {
        /* width: 30vw; */
        /* aspect-ratio: 14/9; */
        /* width: 50%; */
    }
}

.textSection {
    /* margin-left: '1.5rem'; */
    margin-top: 4%;
    
    @media (min-width: 75em) {
        flex: 3 1 0;
        width: 60vw;
        padding-left: 1.5rem;
        margin-top: 0;
    /* padding-right: 2rem; */
    }

    /* @media (min-width: 48em) {
        padding-left: 1.5rem;
        padding-right: 2rem;
        min-width: 30vw;
    }
    @media (min-width: 75em) {
        padding-left: 1.5rem;
        padding-right: 2rem;
        min-width: 35vw;
    }
    @media (min-width: 75em) {
        padding-left: 1.5rem;
        padding-right: 2rem;
        min-width: 40vw;
    } */
}

.description {
    font-size: rem(22px);

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: rem(17px);
    }
}

.spoiler {
    text-overflow: ellipsis;
    float: left;
}

.spoilerRoot {
    /* white-space: nowrap; */
    /* overflow: hidden; */

}

a[target="_blank"]::after {
    content: none;
}

.techStackGrid {
    justify-self: end;
}

.techStackCol > p {
    font-size: rem(17px) !important;

}

.techItem {
    background-color: var(--mantine-color-zomp);
    border-radius: 10px;
    text-align: center;
    margin: .5rem;
}

.techItem > p {
    color: var(--mantine-color-mint);
}

.projectLink {
    /* color: var(--mantine-color-viridian); */
    /* transform: scale(1.1); */
}

a > span:hover {
    border-bottom: 2px solid var(--mantine-color-cyan-7);
}

.projectLinkSvg {
    width: 2.5em;
    height: 2.5em;
}