.title {
    font-size: 1.375rem;
    color: var(--mantine-color-zomp);
    margin: 0;
    padding: 0;
    line-height: 2rem;

    @media only screen and (min-width: $mantine-breakpoint-sm) {
        font-size: 1.5rem;
    }
    @media only screen and (min-width: $mantine-breakpoint-md) {
        font-size: 1.75rem;
    }
}

.expInfo {
    @media only screen and (max-width: $mantine-breakpoint-lg) {
        flex-direction: column;
        justify-content: space-between;
    }
    @media only screen and (min-width: $mantine-breakpoint-lg) {
        flex-direction: row;
    }
    width: 100%;
}

.expInfo:nth-child(1) {
    justify-self: flex-start;
    margin-bottom: auto;
    flex-grow: 2;
}

.techStackGrid {
    flex-basis: auto;

    margin-top: auto;
}

.techStackGrid:first-child {
    margin-top: auto;
}

.expectLinks {
    flex-basis: auto;
    margin-top: 2%
}

.expInfo > * {
    @media only screen and (max-width: $mantine-breakpoint-lg) {
        margin: 0;
        padding: 0;
    }
}

.imgContainer {
    align-self: flex-start;
    flex: 2 1 0;
    margin-top: 1%;
    padding-inline: 0;

    @media only screen and (max-width: $mantine-breakpoint-md) {
        margin-top: 0;
    }
    @media only screen and (max-width: $mantine-breakpoint-lg) {
        margin: 0 auto;
    }
}

.imgRoot {
    @media only screen and (max-width: $mantine-breakpoint-lg) {
        justify-self: center;
        width: 95%;
    }
}

.textSection {
    @media only screen and (min-width: $mantine-breakpoint-lg) {
        flex: 3 1 0;
        width: 60vw;
        padding-left: 1.5rem;
        margin-top: 0;
    }
}

.spoiler {
    text-overflow: ellipsis;
    float: left;
}


a[target="_blank"]::after {
    content: none;
}

.techStackGrid {
    justify-self: end;
}

.techStackCol > p {
    font-size: 1rem !important;
}

.techItem {
    background-color: var(--mantine-color-zomp);
    border-radius: 10px;
    text-align: center;
    margin: .5rem;
}

.techItem > p {
    color: var(--mantine-color-mint);
}

.bulletList {
    padding-right: 4rem;

    @media only screen and (max-width: $mantine-breakpoint-sm) {
        padding-right: 0;
    }
    @media only screen and (min-width: $mantine-breakpoint-sm) {
        padding-right: 0;
    }
}

.bulletItem {
    margin-inline: .5rem;
}

.bulletItem p {
    font-size: 1.25rem;

    @media only screen and (max-width: $mantine-breakpoint-sm) {
        font-size: 1rem;
    }
    @media only screen and (min-width: $mantine-breakpoint-sm) {
        font-size: 1.125rem;
    }
    @media only screen and (min-width: $mantine-breakpoint-lg) {
        font-size: 1.25rem;
    }
}

li::marker {
    margin: 1px;
    color: var(--text-color);
}

a > span:hover {
    border-bottom: 2px solid var(--mantine-color-cyan-7);
}

.experienceLinkSvg {
    width: 2.5rem;
    height: 2.5rem;
}