.containerRoot {
    margin: 0 2rem;
    padding: 0;
    scroll-margin: 75px;

    @media only screen and (max-width: $mantine-breakpoint-md) {
        padding: 0 0 25vw 0;
        max-width: 85vw;
        width: min(90vw, 1024px);
        margin: 0 auto;
    }

    a {
        color: var(--mantine-color-cyan-7);
    }
}


.root {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    z-index: 300;
    position: relative;
    background-color: transparent;
    scroll-padding: 75px;
}

.scrollbar {
    @mixin hover {
        border-radius: 10;
        background-color: transparent;
    }
}