#home {
    font-size: 1rem;
}

.root {
    min-height: 100vh;

    @media only screen and (max-width: $mantine-breakpoint-lg) {
        min-height: auto;
    }
}

.link {
    color: var(--mantine-color-mint);
}

.resumeRoot {
    line-height: 2.3;
}

.button {
    opacity: 1;
    transition: opacity .09s ease-in-out;
}

.button:hover {
    background-color: var(--mantine-color-viridian);
    opacity: 0.8;
}

.resumeRoot, .githubRoot {
    line-height: 0.3;
}

.resumeRoot {
    margin-top: 1rem;
}