#home {
    font-size: rem(16px);
}

.root {

}

.title {
    
}

.introtext {
    font-size: rem(20px);

    @media (max-width: 48em) {
        font-size: rem(23px);
    }
    @media (min-width: 48em) {
        font-size: rem(25px);
    }
    @media (min-width: 75em) {
        font-size: rem(27px);
    }
    @media (min-width: 88em) {
        font-size: rem(29px);
    }
}

.text, .link {
    
}

.link {
    color: var(--mantine-color-mint);
}

.mantine-Button-root {
    width: rem(300px);
}