header {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(10px);
  background-color: rgba(var(--mantine-color-cyan-9), .8);
  transition: box-shadow .25s ease-in-out;
}

header::hover {
  z-index: 200;
}

.header {
  height: 56px;
  margin-bottom: 120px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid var(--mantine-color-dark-4);
}

.inner {
  height: 75px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: 14px;
  text-decoration: none;
  color: var(--mantine-color-white);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  font-size: 20px;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-delay: 0;
  text-align: center;
  margin: auto;
  
  @mixin hover {
    background-color: var(--mantine-color-indigo-6);
  }
  
  focus {
    background-color: var(--mantine-color-indigo-6);
  }
}

.burger {
  display: block;
  z-index: 201;
}

.modal {
  --modal-content-flex: 0 0 100%;
  --modal-content-height: 100dvh;
  --modal-size: 50%;
  /* position: fixed; */
}

.modalContent {
  background-color: var(--mantine-color-viridian);
}

.modalInner {
  max-width: 50%;
  right: 0;
  padding: 0;
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBody {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto; 
  height: 35%;
}

.filler {
  display: inline-block; 
  margin: 0; 
  text-align: center;
  line-height: 56px;
  width: 150px;
  margin: 23px 0;
}