header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  font-size: rem(18px);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(10px);
  /* background-color: rgba(var(--mantine-color-cyan-9), .8); */
  transition: box-shadow .25s ease-in-out;

  @media (max-width: 48em) {
    font-size: rem(20px);
  }
  @media (min-width: 48em) {
    font-size: rem(21px);
  }
  @media (min-width: 75em) {
    font-size: rem(22px);
}
}

.header {
  height: 56px;
  margin-bottom: 120px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid var(--mantine-color-dark-4);
}

.inner {
  height: 75px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: 14px;
  text-decoration: none;
  color: var(--mantine-color-zomp);
  /* font-size: var(--mantine-font-size-xl); */
  font-weight: 600;
  transition-property: color;
  transition-duration: 0.25s;
  transition-delay: 0;
  text-align: center;
  margin: auto;
  
  @mixin hover {
    color: var(--mantine-color-viridian);
  }
  
  focus {
    color: var(--mantine-color-viridian);
  }
}

.burger {
  display: block;
  z-index: 201;
}

.modal {
  --modal-content-flex: 0 0 100%;
  --modal-content-height: 100dvh;
  --modal-size: 50%;
  background-color: var(--mantine-color-zomp);
  transition-property: color;
  transition-duration: 0.25s;
  transition-delay: 0;
  
  @mixin hover {
    color: var(--mantine-color-viridian);
  }
  
  focus {
    color: var(--mantine-color-viridian);
  }

}

.modalBody > .link {
  color: var(--mantine-color-mint);
}

.modalRoot {
  position: relative;
  z-index: 300;
}

.modalContent {
  background-color: var(--mantine-color-viridian);
}

.modalInner {
  max-width: 50%;
  right: 0;
  padding: 0;
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBody {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto; 
  height: 35%;
}

.modalOverlay {
  /* opacity: .35 !important; */
}

.filler {
  display: inline-block; 
  margin: 0; 
  text-align: center;
  line-height: 56px;
  width: 150px;
  margin: 23px 0;
}