#home {
    font-size: 1rem;
}

.title {
    font-weight: 700;
}

.link {
    color: var(--mantine-color-mint);
}

.experienceRoot {
    overflow: visible;
}

.experienceRoot {
    @media only screen and (max-width: $mantine-breakpoint-md) {
        width: auto;
    }
    @media only screen and (min-width: $mantine-breakpoint-md) {
        min-width: 90vw;
    }
}

.externalLinkSvg {
    vertical-align: middle;
}

.experienceDescription {
    font-size: 
}