:root {
    --mantine-color-delftblue-1: #34435E;
    --mantine-color-delftblue-2: #41557B;
    --mantine-color-mint: #5CAB7D;
    --mantine-color-viridian: #45825E;
}

body {
    background-color: var(--mantine-color-mint);
}

html, body {
    height: 100%;
    margin: 0;
}