:root {
    --mantine-color-mint: #011627;
    --mantine-color-viridian: #45825E;
    --mantine-color-zomp: #569885;
    --text-color: #C9C5CB;
}

body {
    background-color: var(--mantine-color-mint);
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

a {
    color: var(--mantine-color-mint);
}

/* .mantine-Container-root {
    @media only screen and (max-height: $mantine-breakpoint-md) {
        max-height: 30vh; 
    }
} */

.mantine-Text-root {
    color: var(--text-color);
    font-size: 1rem;

    @media only screen and (max-width: $mantine-breakpoint-sm) {
        font-size: 1rem;
    }
    @media only screen and (min-width: $mantine-breakpoint-sm) {
        font-size: 1.25rem;
    }
}

.mantine-Title-root {
    color: var(--mantine-color-zomp);
    font-size: 1.75rem;

    @media only screen and (max-width: $mantine-breakpoint-sm) {
        font-size: 1.75rem;
        line-height: 3rem;
    }
    @media only screen and (min-width: $mantine-breakpoint-sm) {
        font-size: 2rem;
        line-height: 4rem;
    }
    @media only screen and (min-width: $mantine-breakpoint-md) {
        font-size: 2.5rem;
        line-height: 4rem;
    }
}

.resume-link-header {
    display: none;

    @media only screen and (max-width: $mantine-breakpoint-sm) {
        display: block;
    }
}

.resume-header {
    @media only screen and (max-width: $mantine-breakpoint-sm) {
        display: none;
    }
}

a[target="_blank"]::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
    filter: invert(59%) sepia(20%) saturate(692%) hue-rotate(112deg) brightness(87%) contrast(88%);
}

.projectLink:hover {
    color: var(--mantine-color-cyan-6);
}

.linkText {
    display: inline-flex;
    align-items: center;
}

.externalLinkSvg {
    font-size: 0.8rem;
    margin-left: 0.2rem;
}

.section-header {
    padding-bottom: 1rem;

    @media only screen and (max-width: $mantine-breakpoint-sm) {
        font-size: 1.75rem;
        line-height: 0.75rem;
    }
    @media only screen and (min-width: $mantine-breakpoint-sm) {
        font-size: 2rem;
        line-height: 1rem;
    }
    @media only screen and (min-width: $mantine-breakpoint-md) {
        font-size: 2.5rem;
        line-height: 2rem;
    }
}