.title {
    font-weight: 700;
}

.icons {
    margin: 0 auto;
}

.mantine-SimpleGrid-root {
    justify-content: center;
}

.root {
    min-height: 100vh;
    
    @media only screen and (max-width: $mantine-breakpoint-md) {
        width: auto;
    }
    @media only screen and (min-width: $mantine-breakpoint-md) {
        min-width: 90vw;
    }
}

.infoSection {
    @media only screen and (min-width: $mantine-breakpoint-md) {
        flex-basis: 70%;
    }
}

.selfImage {
    border-radius: 10px;
    width: 25%;
    margin: 0 auto;
    display: block;
    max-width: 15rem;

    @media only screen and (max-width: $mantine-breakpoint-xs) {
        flex-basis: 25%;
        /* width: 40vw; */
        margin-block: 1rem
    }
    @media only screen and (min-width: $mantine-breakpoint-xs) {
        flex-basis: 25%;
        margin-inline: 1rem
    }
    @media only screen and (min-width: $mantine-breakpoint-md) {
        /* width: 20vw; */
    }
}

.section {
    flex-direction: row;

    @media only screen and (max-width: $mantine-breakpoint-xs) {
        flex-direction: column;
    }
}

.techGroup {
    display: flex;
    justify-content: space-evenly;

    @media only screen and (min-width: $mantine-breakpoint-md) {
        justify-self: center;
    }
}

.techLists {
    color: var(--text-color);
}

.techList {
    color: var(--text-color);
    font-size: 1.25rem;
    max-width: max-content;
    margin: 0 auto;

    @media only screen and (max-width: $mantine-breakpoint-md) {
        font-size: 1rem;
    }
}

.listContainer {
    margin-top: var(--group-gap, var(--mantine-spacing-md));
}